<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'  %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <span>Bookers2</span>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
            <% if user_signed_in? %>
              <li class="">
                <%= link_to 'Home', user_path(current_user.id) %>
              </li>
              <li class="">
                <%= link_to 'Users', users_path %>
              </li>
              <li class="">
                <%= link_to 'Books', books_path %>
              </li>
              <li class="">
                <%= link_to "logout", destroy_user_session_path, method: :delete %>
              </li>
            <% else %>
              <li class="">
                <%= link_to "Home", root_path %>
              </li>
              <li class="">
                <%= link_to "About", home_about_path %>
              </li>
              <li class="">
                <%= link_to "sign up", new_user_registration_path %>
              </li>
              <li class="">
                <%= link_to "login", new_user_session_path %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <div class="container">
        <% if user_signed_in? %>
          <%= form_tag(searches_result_path , method: :get) do %>
            <input type="text" name="search_word" />
            <select name="search_model">
              <option value="User">User</option>
              <option value="Book">Book</option>
            </select>
            <select name="search_method">
              <option value="forward_match">前方一致</option>
              <option value="backward_match">後方一致</option>
              <option value="perfect_match">完全一致</option>
              <option value="partial_match">部分一致</option>
            </select>
            <%= submit_tag "検索" %>
          <% end %>
        <% end %>

        <p id="success">
          <%= h(flash[:success]) %>
        </p>

        <%= yield %>
      </div>
    </main>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-3 col-xs-offset-9">
            <small>
              <p>
              CopyRight Infratop.inc
              </p>
            </small>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
